{% extends 'base.html' %}

{% block content %}
  {% if user.change_pass %}
    <a href="{% url 'change_password' %}">Required change password</a>
  {% else %}
    {% include 'cxsuperuser/_header.html' %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">My Capabilities</li>
      </ol>
    </nav>
    <h2 class="mb-3">My Capabilities</h2>
    <a href="{% url 'cxsuperuser:cx_su_new_capability' %}" class="btn btn-primary mb-3" role="button">Add Capability</a>
    <div class="card">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Created By</th>
            <th>Capability Area</th>
            <th>No of capability</th>
            <th>No of user completed</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for capability in capabilities %}
            <tr>
              <td class="align-middle">{{ capability.owner }}</td>
              <td class="align-middle"><a href="{% url 'cxsuperuser:cx_su_update_capability' capability.pk %}">{{ capability.name }}</td>
              <td class="align-middle">{{ capability.questions_count }} Capabilityies</td>
              <td class="align-middle">{{ capability.completed_count }}</td>
              <td class="text-right">
                <a href="{% url 'cxsuperuser:cx_su_completed_capability' capability.pk %}" class="btn btn-primary">Show results</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="4">No capability matching for you right now.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
