{% extends 'base.html' %}

{% block content %}
  {% if user.change_pass %}
    <a href="{% url 'change_password' %}">Required change password</a>
  {% else %}
    {% include 'cxsuperuser/_header.html' %}
    <h2 class="mb-3">Capabilities</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'cxsuperuser:cx_su_update_capability' %}">My Capability</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ capability.name }}</li>
      </ol>  
    </nav>
    <h2 class="mb-3">
      {{ capability.name }}
      <a href="{% url 'cxsuperuser:cx_su_completed_capability' capability.pk %}" class="btn btn-primary float-right">Show compelted</a>
    </h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Save changes</button>
      <a href="{% url 'cxsuperuser:cx_su_update_list_capability' %}" class="btn btn-outline-secondary" role="button">Cancel</a>
      <a href="{% url 'cxsuperuser:cx_su_delete_capability' capability.pk %}" class="btn btn-danger float-right">Delete</a>
    </form>


      <table class="table mb-0">
        <thead>
          <tr>
            <th>Capabiluty Area</th>
            <th>Length</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for capability in capabilities %}
            <tr>
              <td class="align-middle">{{ capability.name }}</td>
              <td class="align-middle">{{ capability.questions_count }} questions</td>
              <td class="text-right">
                <a href="{% url 'cxsuperuser:cx_su_completed_capability' capability.pk %}" class="btn btn-primary">Start capability</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="4">No capability matching for you right now.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
