{% extends 'base.html' %}

{% load crispy_forms_tags humanize %}

{% block content %}
  {% if user.change_pass %}
    <a href="{% url 'change_password' %}">Required change password</a>
  {% else %}
    {% include 'cxsuperuser/_header.html' %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'cxsuperuser:cx_su_update_list_capability' %}">My capabilities</a></li>
        <li class="breadcrumb-item"><a href="{% url 'cxsuperuser:cx_su_update_capability' capability.pk %}">{{ capability.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Results</li>
      </ol>
    </nav>
    <h2 class="mb-3">{{ capability.name }}</h2>

    <div class="card">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Completion Time</th>
            <th>Client User</th>
            <th>Capability</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% for completed_capability in completed_capabilities %}
            <tr>
              {% ifchanged completed_capability.clientuser.user %}
                <td>{{ completed_capability.date|naturaltime }}</td>
                <td>{{ completed_capability.clientuser.user.username }}</td>
              {% else %}
                <td> </td>
                <td> </td>
              {% endifchanged %}
              <td>{{ completed_capability.question }}</td>
              <td>{{ completed_capability.score }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="card-footer text-muted">
        Total respondents: <strong>{{ total_completed_capabilities }}</strong>
      </div>
    </div>
  {% endif %}
{% endblock %}
