{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  {% if user.change_pass %}
    <a href="{% url 'change_password' %}">Required change password</a>
  {% else %}
    {% include 'cxsuperuser/_header.html' with active='new' %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'cxsuperuser:cx_su_update_list_capability' %}">My Capabilities</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ capability.name }}</li>
      </ol>
    </nav>
    <h2 class="mb-3">
      {{ capability.name }}
      <a href="{% url 'cxsuperuser:cx_su_completed_capability' capability.pk %}" class="btn btn-primary float-right">Show results</a>
    </h2>
    <div class="row mb-3">
      <div class="col-md-6 col-sm-8 col-12">
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success">Save changes</button>
          <a href="{% url 'cxsuperuser:cx_su_update_list_capability' %}" class="btn btn-outline-secondary" role="button">Cancel</a>
          <a href="{% url 'cxsuperuser:cx_su_delete_capability' capability.pk %}" class="btn btn-danger float-right">Delete</a>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-8">
            <strong>Capabilities</strong>
          </div>
          <div class="col-2">
            <strong>Weightage</strong>
          </div>
          <div class="col-2">
            <strong>No of maturity level</strong>
          </div>
        </div>
      </div>
      <div class="list-group list-group-flush list-group-formset">
        {% for question in questions %}
        <div class="list-group-item">
          <div class="row">
            <div class="col-8">
              <a href="{% url 'cxsuperuser:question_change' capability.pk question.pk %}">{{ question.text }}</a>
            </div>
            <div class="col-2">
              {{ question.weightage }}
            </div>
            <div class="col-2">
              {{ question.answers_count }}
            </div>
          </div>
        </div>
        {% empty %}
        <div class="list-group-item text-center">
          <p class="text-muted font-italic mb-0">You haven't created any capabilities yet. Go ahead and <a href="{% url 'cxsuperuser:question_add' capability.pk %}">add the first Capability</a>.</p>
        </div>
        {% endfor %}
      </div>
      <div class="card-footer">
        <a href="{% url 'cxsuperuser:question_add' capability.pk %}" class="btn btn-primary btn-sm">Add capability</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
