{% extends 'base.html' %}

{% block content %}
  {% include 'cxsuperuser/_header.html' with active='new' %}
  <div class="card">
    <a>Cx Admin user</a>
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Capabiluty Area</th>
          <th>Domain</th>
          <th>Length</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle">{{ capabilityarea.name }}</td>
            <td class="align-middle">{{ capabilityarea.domain.get_html_badge }}</td>
            <td class="align-middle">{{ capabilityarea.questions_count }} questions</td>
            <td class="text-right">
              <a href="{% url 'cxsuperuser:result_of_capability_areas' quiz.pk %}" class="btn btn-primary">Start quiz</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No capability matching your domain right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
