{% extends 'base.html' %}

{% load crispy_forms_tags crispy_forms_filters %}

{% block content %}
  {% if user.change_pass %}
    <a href="{% url 'change_password' %}">Required change password</a>
  {% else %}
    {% include 'cxsuperuser/_header.html' with active='new' %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'cxsuperuser:cx_su_update_list_capability' %}">My Capabilities</a></li>
        <li class="breadcrumb-item"><a href="{% url 'cxsuperuser:cx_su_update_capability' capability.pk %}">{{ capability.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ question.text }}</li>
      </ol>
    </nav>
    <h2 class="mb-3">{{ question.txt }}</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ formset.management_form }}
      {{ form|crispy }}
      <div class="card mb-3{% if formset.errors %} border-danger{% endif %}">
        <div class="card-header">
          <div class="row">
            <div class="col-10"
              <strong>Capabilities</strong>
            </div>
            <div class="col-2">
              <strong>Maturity Level</strong>
            </div>
          </div>
        </div>
        {% for error in formset.non_form_errors %}
          <div class="card-body bg-danger border-danger text-white py-2">{{ error }}</div>
        {% endfor %}
        <div class="list-group list-group-flush list-group-formset">
          {% for form in formset %}
            <div class="list-group-item">
              <div class="row">
                <div class="col-10">
                  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                  {{ form.text|as_crispy_field }}
                </div>
                <div class="col-2">
                  {{ form.maturitylevel }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <p>
        <small class="form-text text-muted">Maturity level need to be unique </small>
      </p>
      <button type="submit" class="btn btn-success">Save changes</button>
      <a href="{% url 'cxsuperuser:cx_su_update_capability' capability.pk %}">{{ capability.name }}</a>
    </form>
  {% endif %}
{% endblock %}
