{% extends 'base.html' %}

{% block content %}
  <h2>Welcome to the Cx Diagnosis Survey!</h2>
  <p>
    To take the survey you have to register yourself first.
    Once successfully registered, you can go ahead
    and take the survey.
  </p>
  {% if not user.is_authenticated %}
    <p>
      <a href="{% url 'login' %}"><span class="badge badge-pill badge-primary">Login</span></a>
      <a href="{% url 'client_signup' %}"><span class="badge badge-pill badge-info">Signup</span></a>
    </p>
  {% endif %}
{% endblock %}
