<p class="text-info">
  <strong>Delivory Unit: </strong><span class="badge badge-pill badge-dark"> {{ user.clientuser.deliveryunit }}</span>
  <strong>Project: </strong><span class="badge badge-pill badge-secondary"> {{ user.clientuser.project }}</span>
</p>
<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link{% if active == 'new' %} active{% endif %}" href="{% url 'clientuser:capability_list' %}">New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'completed' %} active{% endif %}" href="{% url 'clientuser:completed_capability_list' %}">Completed</a>
  </li>
</ul>
