{% extends 'base.html' %}

{% block content %}
  {% if user.change_pass %}
    <a href="{% url 'change_password' %}">Required change password</a>
  {% else %}
    {% include 'clientuser/_header.html' with active='new' %}
    <div class="card">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Capability Area</th>
            <th>Length</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for capability in capabilities %}
            <tr>
              <td class="align-middle">{{ capability.name }}</td>
              <td class="align-middle">{{ capability.questions_count }} questions</td>
              <td class="text-right">
                <a href="{% url 'clientuser:completed_capability' capability.pk %}" class="btn btn-primary">Start now</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="4">No capability matching your domain right now.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
