{% extends 'base.html' %}

{% load crispy_forms_tags humanize %}

{% block content %}
  {% if user.change_pass %}
    <a href="{% url 'change_password' %}">Required change password</a>
  {% else %}
    {% include 'clientuser/_header.html' with active='completed' %}
    <div class="text-right">
      <a href="{% url 'clientuser:download_pdf' user.pk %}"> Download PDF</a>
    </div>
    <div class="card">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Capability Area</th>
            <th>Overall Maturity Level</th>
            <th>Completion Date & Time</th>
          </tr>
        </thead>
        <tbody>
          {% for completed_capability in completedCap %}
            <tr>
              {% for capQ in totQ %}
                {% if capQ.name == completed_capability.capability__name and capQ.qcount == completed_capability.qcount %}
                  <td>{{ completed_capability.capability__name }}</td>
                  {% if completed_capability.total < 1 %}
                    <td>Not started</td>
                  {% elif completed_capability.total < 6 %}
                    <td>Basic</td>
                  {% elif completed_capability.total < 11 %}
                    <td>Medium</td>
                  {% elif completed_capability.total < 16 %}
                    <td>Pro</td>
                  {% endif %}
                  <td>{{ completed_capability.completion_date|naturaltime }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="3">You haven't completed any capability yet.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
