{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  {% if user.change_pass %}
    <a href="{% url 'change_password' %}">Required change password</a>
  {% else %}
    {% include 'clientuser/_header.html' with active='new' %}
    <div class="progress mb-3">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
    </div>
    <h4 class="mb-3">{{ capability.name }}</h4>
    <p class="lead">{{ question.text }}</p>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      {% if form.answer.errors %}
        <p class="text-danger">Please select your maturity level !</p>
      {% endif %}
      {% if total_unanswered_questions != total_questions %}
        <a href="{% url 'clientuser:edit_completed_capability' capability.pk question.id 0 1 0 %}" class="btn btn-primary">← Previous</a>
      {% endif %}
      {% if progress == 100 %}
        <button type="submit" class="btn btn-primary">Save & Submit</button>
      {% else %}
        <button type="submit" class="btn btn-primary">Save & Next →</button>
      {% endif %}
    </form>
  {% endif %}
{% endblock %}
