<p class="text-info">
  <strong>Domains: </strong><span class="badge badge-pill badge-dark"> {{ user.csguser.domains }}</span>
  <strong>Organisation: </strong><span class="badge badge-pill badge-secondary"> {{ user.csguser.organisations }}</span>
</p>
<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link{% if active == 'new' %} active{% endif %}" href="{% url 'csguser:csg_capability_list' %}">New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'completed' %} active{% endif %}" href="{% url 'csguser:csg_completed_capability_list' %}">Completed</a>
  </li>
</ul>
